@import 'ember-bootstrap/bootstrap';
@import 'spinner';

html {
  overflow-y: scroll;
}

.alert-fade {
  height: 50px;
  opacity: 0;
  @include transition(all 0.5s);
  &.alert-show {
    opacity: 1;
  }
}

.page-footer {
  padding: 20px;
  margin-top: 50px;
  color: darken($primary, 50);
  background-color: lighten($primary, 45);
  border-top: 1px solid lighten($primary, 30);
}

.vtop {
  vertical-align: top !important;
}

.not-bold {
  font-weight: normal !important;
}

th.wider {
  min-width: 200px;
}

.extra-padding-bottom {
  padding-bottom: 20px;
}

@import "ember-bootstrap/bootstrap";
