@import 'bootstrap';
@import 'spinner';

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

.label-fade {
  margin: 10px;
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}

.btn-narrow {
  padding-left: 10px;
  padding-right: 10px;
}

.page-footer {
  padding: 20px;
  margin-top: 50px;
  color: darken($brand-primary, 50);
  background-color: lighten($brand-primary, 45);
  border-top: 1px solid lighten($brand-primary, 30);
}

.vtop {
  vertical-align: top!important;
}

.not-bold {
  font-weight: normal!important;
}

th.wider {
  min-width: 200px;
}

.extra-padding-bottom {
  padding-bottom: 20px;
}
