@import 'bootstrap';
@import 'spinner';

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

.label-fade {
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}

.btn-narrow {
  padding-left: 10px;
  padding-right: 10px;
}
