<h2>Edit Library</h2>

<div class="row">
    <div class="col-md-6">

      {{library-item-form item=model buttonLabel='Save changes' action='saveLibrary'}}

    </div>

    <div class="col-md-4">

      {{#library-item item=model}}
        <br/>
      {{/library-item}}

    </div>

</div>