<footer class="page-footer">
  <p>Welcome in this Ember.js 2.10 Demo App. Please click through and check all menu point and features. You can build
    this application if you follow our free <a href="http://yoember.com">Ember tutorial</a>.
    Please don't use your real email address. This database is public, you can list the database in Admin section.
    The source code on <a href="https://github.com/zoltan-nz/library-app">GitHub</a>.</p>
  <p>If you have any question or suggestion, please contact me. Web: <a href="http://zoltan.nz">zoltan.nz</a>,
    Twitter: <a href="http://www.twitter.com/zoltan_nz">@zoltan_nz</a></p>
</footer>
