<h1>Libraries</h1>

<hr class='my-3' />

<BsNav @type='pills' as |nav|>
  <nav.item>
    <nav.linkTo @route='libraries.index'>List all</nav.linkTo>
  </nav.item>
  <nav.item>
    <nav.linkTo @route='libraries.new'>Add new</nav.linkTo>
  </nav.item>
</BsNav>

<hr class='my-3' />

{{outlet}}