<h1>Libraries</h1>
<div class="well well-sm">
  <ul class="nav nav-pills">
    <LinkTo @route="libraries.index" @tagName="li"><a href>List all</a></LinkTo>
    <LinkTo @route="libraries.new" @tagName="li"><a href>Add new</a></LinkTo>
  </ul>
</div>
{{outlet}}