<h1>Libraries</h1>

<hr class='my-3' />

<BsNav @type='pills' as |nav|>
  <nav.item>
    <nav.link-to @route='libraries.index'>List all</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route='libraries.new'>Add new</nav.link-to>
  </nav.item>
</BsNav>

<hr class='my-3' />

{{outlet}}